.draw-block {
  text-align: center;
  width: 100%;
  height: 100%;
}

.draw-form {
  width: "100%";
}
.bgvedio {
  position: fixed;
  top: 50%;
  left: 50%;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  z-index: -9;
  transform: translate(-50%, -50%);
}
.rotatingMachine {
  font-size: 2.4rem;
  color: rgb(235, 235, 235);
  background: rgba(0, 89, 121, 0.652);
  border: groove 1rem rgb(0, 122, 167);
  overflow: hidden;
  width: 45rem;
  height: 8rem;
  border-radius: 2rem;

  text-align: center;
  display: grid;
  place-items: center;
  letter-spacing: 1rem;
  font-weight: 600;
}
.drawing {
  display: grid;
  justify-items: center;
}
.drawing-btn {
  margin: 2rem 0;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: rgb(255, 39, 39);
  background: radial-gradient(
    107.46% 107.46% at 35.64% 12.94%,
    #ff1b1b 0%,
    #430000 100%
  );
  box-shadow: inset 8px 28px 24px -2px rgba(255, 255, 255, 0.678);
  border: 0.3rem outset rgb(255, 216, 180);
  transition: all 0.2s ease-in-out;
}
.drawing-btn:active {
  box-shadow: inset 0px 0px 28px 12px rgba(0, 0, 0, 0.522);
}
.draw-section {
  font-size: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
}
.table-prev {
  height: 20rem;
}

.result-section {
  text-align: center;
  height: 30rem;
}
h1 {
  margin-top: 2rem;
  font-size: 3rem;
  color: black;
  text-shadow: 1px 1px 8px rgb(255, 255, 255);
  z-index: 99999;
  font-weight: bolder;
}
