.past-drawn-block {
  background: rgba(255, 255, 255, 0.419);
  height: 20rem;
  overflow-y: scroll;
}
.past-drawn-item {
  text-align: center;
}
.table {
  margin-top: -1rem;
  border-radius: 0.4rem;
}
.past-drawn-block {
  border-radius: 0.8rem;
}
.row-table {
  display: flex;
  align-items: center;

  font-size: 1.2rem;
  font-weight: 500;
  line-height: 0;
}
.row-table-name {
  flex: 0.5;
  margin-left: 2rem;
  text-align: left;
}
.row-table-id {
  margin-right: 2rem;
  flex: 0.5;
  text-align: right;
}
.table {
  background-color: rgba(255, 255, 255, 0.309);
}
